@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Used tailwind css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
